/*
@font-face{
    font-family : "maFonte";

    src : url('maFonte.eot'); // Pour IE9 Compat mode 
    src : url('maFonte.eot?') format('eot),
          url('maFonte.woff') format('woff'),
          url('maFonte.svg#abcd') format('svg'),
          url('maFonte.ttf') format('truetype');
}


*/
